<h1>OscarList</h1>


<!-- display ceremony year -->
<% @ceremony_list.each do |ceremony| %>

  <div>
    <h2><%= ceremony.year %></h2>

    <!-- display film list for that year -->
    <p>
      <% ceremony.films.each do |film| %>
          <%= film.name %><br>
      <% end %>
    </p>
  </div>
  
<% end %>
