<h2>OscarList</h2>


<% @ceremony_list.each do |key, value| %>
    <%= key %>, <%= value %> <br>
<% end %>


<% @academy_defined_categories.each do |category| %>
    <%= category.name %> <br>
<% end %>




